# Secret environment variables
.env

# Virtual environment
venv/

# Local database
db.sqlite3

# User uploaded files
media/
staticfiles/

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db